<div *ngIf="product.title" class="card prod-card">
  <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
  <div class="card-body">
    <h3 class="card-title">{{product.title}}</h3>
    <p class="card-text">{{product.description}}</p>
    <p class="card-price">{{product.price | currency:'USD':true }}</p>
  </div>
  <div class="card-footer" *ngIf="showActions && cart">
      <button mat-raised-button color="accent" *ngIf="cart.getQuantity(product) === 0; else updateQuantity" class="btn btn-secondary btn-block" (click)="addToCart()">
          <i class="fa fa-shopping-cart">Add to cart</i>
       </button>
       <ng-template #updateQuantity >
        <cart-items-quantity [product]="product" [cart]="cart"></cart-items-quantity>
     </ng-template>
  </div>
</div>