@import "shared/styles/global";

.card:hover{
    img{
        @include box-shadow;
    }
    .btn {
        @include box-shadow;
        background-color: #20A94B;
    }
}
.card {
    border-style: none;
    padding: 20px;
    color:$secondary-text-color;
    img{
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 40px;
    }
    .card-title{
        color: $accent-text-color;
    }
    .card-text{
        font-size: 1.1rem;
    }
    .card-price{
        font-weight: 600;
        color: $accent-text-color;
    }
}
.card-body{
    text-align: center;
    padding: 1rem;
}
.card-footer{
    padding: 0;
    border-top-style: none;
}

.btn {
    font-size: 1.1rem;
    background-color: $accent-color;
    color: white;
    i::before{
        padding: 10px;
    }
}