@import "shared/styles/global";

.form-container{
    padding-top: 20px;
}
form{
    @include box-shadow;
    padding: 40px 20px;
    border-radius: 8px;
    border: 1px solid lightgrey;

    .form-field{
        width: 100%;
    }
    .select-category-type{
        width: 40%;
        float: left;
    }
    .select-category{
        width: 50%;
        float: right;
    }
    .btn-container{
        display: flex;
        justify-content: flex-start;
        .save-btn{
            margin-right: 5%;
        }
        .btn-primary{
            @include main-button;
            width: 30%;
        }
    }
}
.card-image{
    height: 100%;
}