<div class="row form-container">
  <div class="col-md-5 no-gutters">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <p class="h4 mb-4"> {{headerText}}</p>
      <mat-form-field class="form-field">
        <input matInput placeholder="Title" #title="ngModel" [(ngModel)]="product.title" name="title" id="title"
          type="text" required>
        <mat-error *ngIf="title.touched && title.invalid">
          <div *ngIf="title.errors.required">Title is <strong>required</strong></div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Price" #price="ngModel" [(ngModel)]="product.price" name="price" id="price"
          type="number" required>
        <mat-error *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is <strong>required</strong></div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <textarea matInput placeholder="Description" #description="ngModel" [(ngModel)]="product.description"
          name="description" id="description" class="form-control" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field class="select-category-type">
        <mat-label>Category</mat-label>
        <div>
          <select matNativeControl #categoryType="ngModel" [(ngModel)]="product.categoryType"
            (change)="getSubCategories(categoryType.value)" name="categoryType" id="categoryType" class="form-control "
            required>
            <option *ngFor="let c of categories$ | async" [value]="c.key">
              {{c.name}}
            </option>
          </select>
          <mat-error *ngIf="categoryType.touched && categoryType.invalid">
            <div *ngIf="categoryType.errors.required">Category type is <strong>required</strong></div>
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field class="select-category" *ngIf="categoryType.value != undefined">
        <select matNativeControl #category="ngModel" [(ngModel)]="product.category" name="category" id="category"
          class="form-control" required>
          <option value=""></option>
          <option *ngFor="let c of subCategories | keyvalue" [value]="c.key">
            {{c.value.name}}
          </option>
        </select>
        <mat-error *ngIf="category.touched && category.invalid">
          <div *ngIf="category.errors.required">Category is <strong>required</strong></div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Image URL" #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl"
          id="imageUrl" type="text" required url>
        <mat-error *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors?.required">Image URL is <strong>required.</strong></div>
          <div *ngIf="imageUrl.errors?.url">Please enter a valid URL.</div>
        </mat-error>
      </mat-form-field>
     <div class="btn-container">        
      <button [disabled]="!f.valid" type="submit" class="btn btn-primary save-btn">Save</button>
      <a routerLink="/manage-products" class="btn">Cancel</a>
    </div>
    </form>
  </div>
  <div class=" offset-md-1 col-md-5">
    <product-card [product]="product" class="full-display"></product-card>
  </div>
</div>