
<div *ngIf="isAdmin" class="p-2 no-gutters nav-wrapper">
<nav class="site-header sticky-top py-1 mt-4 pt-2">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <!-- ------------For store manager----------- -->
    <a class="py-2 d-none d-md-inline-block" routerLink="/manage-products">Manage Products</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/order-list" [queryParams]="{ filter: 'all' }">Manage Orders</a>
    <!-- ------------For admin----------- -->
    <a class="py-2 d-none d-md-inline-block" routerLink="/manage-users">Manage Users</a>
  </div>
</nav>
</div>