<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <products-filter [chosen]="category"></products-filter>
    </div>
    <!-- in new bootstrap we don't need to define number for remining columns
    it will expand automatically when we define class 'col' -->
    <div class="col">
      <div class="row" *ngIf="cart$ | async as cart">
        <ng-container *ngFor="let p of filteredProducts; let i = index">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <product-card [product]="p" [cart]="cart"></product-card>
          </div>
          <div *ngIf="( i + 1) % 3 === 0" class="w-100"></div>
        </ng-container>
      </div>
    </div>
  </div>
