@import '~font-awesome/css/font-awesome.css';
@import "shared/styles/global";

.dropdown-toggle {
    cursor:pointer;
}
.icon-label::before{
    padding: 10px;
}

.navbar{
    background-color: $primary-color;
    a{
        color: $primary-text-color !important;
        font-weight: 550;
    }
    a::hover{
        color: $primary-color-hover;
    }
    .nav-link{
        color: $primary-text-color;
    }
}