@import "shared/styles/global";

.shipping-icon{
    max-width: 200px;
}
.btn-primary{
    background-color: $accent-color;
    border-color: $accent-color;
    margin-left: 40px;
}
.info-container{
    text-align: center; 
    padding-top: 10px;
}
.btn-container{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.order-summary-container{
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    height: 150px;
}
.order-info{
    display: flex;
    justify-content: center;
}
dd{
    font-size: 0.9rem;
}