
@import "shared/styles/global";
.shipping-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;

    .form-field{
        width: 100%;
        padding: 5px;   
    }
    .confirm-btn{
      @include main-button;
      color: white;
      float: right;
    }
  }
  
  .example-full-width {
    width: 100%;
  }  