<h1> Shopping cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <div *ngIf="cart.TotalNumbersCount==0; else cartContent">
You don't have any products in your cart yet.
  </div>
  <ng-template #cartContent>
    <p class="top-container">
        <label>You have {{ cart.TotalNumbersCount }} items in your shopping cart</label>
      <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-light btn-sm">Clear shopping cart</button>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Price</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td style="width: 100px">
            <div [style.backgroundImage]="'url('+ item.imageUrl + ')'" class="thumbnail"></div>
          </td>
          <td>
            {{ item.title}}
          </td>
          <td style="width: 200px;">
            <cart-items-quantity [product]="item" [cart]="cart"></cart-items-quantity>
          </td>
          <td class="text-right">
            {{ item.totalPrice | currency:'USD':true }}
          </td>
          <td>
            <i class="fa fa-times remove-btn" (click)="removeAll(item)"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th>Total Price:</th>
          <th class="text-right">{{ cart.totalPrice | currency:'USD':true }}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    <div class="btn-container form-group">
      <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary check-out-btn">
        Check out
      </a>
    </div>
  </ng-template>
</div>