
$primary-color: #011F2B;
$primary-color2: #20A94B;
$accent-color:#03c383;
$primary-color-hover: #b1c522;
$primary-text-color: #B0D66F;
$secondary-color: #B0D66F;
$secondary-text-color: #011F2B;
$accent-text-color: #03c383;
$background-color:#E7FAED;
$danger-color:#ed0345;
$facebook-color:#3b5998;
$google-red-color:#db3236;

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin box-shadow {
-webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
}

@mixin standard-border {
   border: 1px solid rgba(0, 0, 0, 0.125);
}

@mixin main-button {
    background-color:$accent-color;
    border-color:$accent-color;
 }

// global styles
