@import "shared/styles/global";

table{
    width: 100%;
    tr.mat-header-row{
        background-color: $accent-color2;
        .mat-header-cell{
            font-size: 15px;
            font-weight: 600;
            color: $secondary-text-color;
        }
    }
    .mat-row:hover{
        background-color:aliceblue; 
    }
}

i::before{
    padding: 5px;
}
.primary{
    background-color: $accent-color2;
}

.action-buttons > *{
    margin: 5px 10px 5px 0px;
}