@import "shared/styles/global";

.quantity-btn{
border: 2px solid $accent-text-color;
color:$accent-text-color;
font-size: 2rem;
font-weight: 500;
background-color: white;
text-align: center;
padding: 0;
}
.row:hover{
    
    .quantity-btn{
        color: $accent-hover-color;
        border: 2px solid $accent-hover-color;
    }
}

.quantity-label{
    font-size: 1.2rem;
    padding: 5px 20px;
}