@import "shared/styles/global";

h2, h3 {
    text-align: center;
    padding-bottom:10px;
}
h2{
    padding-top: 20px;
}
h3{
    padding-top: 10px;
}

.details-container{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}
dl{
    padding: 10px;
}
.shipping-info{
    text-align: center;
}
.products-list{
    display: flex;
    flex-direction: column;
    .total-price-container{
        justify-content: center;
        display: flex;
        dt{
            padding-right: 20px;
        }
    }
    dl{
        margin: auto;
    }
}
.info-container{
border-bottom: 1px solid lightgray;
}
.order-summary-container {
dt{
    text-align: right;
}
}
.btn-primary{
    background-color: $accent-color;
    border-color: $accent-color;
}